body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-image: url("Images/bg_bj.png");
    color:white;
}

#dealerHand img{
    height: 200px;
    width: 140px;
    margin: 5px;
}

#playerHand img{
    height: 200px;
    width: 140px;
    margin: 5px;
}
